In [2]:
import pandas as pd

C:\Users\tatob\AppData\Local\Temp\ipykernel_135404\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
movies= pd.read_csv('../data/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating= pd.read_csv('../data/ratings.csv')
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
for i in movies.columns:
    print(f'Valores unicos de {i}:{movies[i].unique}')

Valores unicos de movieId:<bound method Series.unique of 0            1
1            2
2            3
3            4
4            5
         ...
9737    193581
9738    193583
9739    193585
9740    193587
9741    193609
Name: movieId, Length: 9742, dtype: int64>
Valores unicos de title:<bound method Series.unique of 0                                Toy Story (1995)
1                                  Jumanji (1995)
2                         Grumpier Old Men (1995)
3                        Waiting to Exhale (1995)
4              Father of the Bride Part II (1995)
                          ...
9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
9741          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object>
Valores unicos de genres:<bound method Series.unique of 0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
                           ...
9737                Action|Animation|Comedy|Fantasy
9738                       Animation|Comedy|Fantasy
9739                                          Drama
9740                               Action|Animation
9741                                         Comedy
Name: genres, Length: 9742, dtype: object>

In [6]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [7]:
rating.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

¿Cuáles fueron los géneros mejor rankeados en promedio en el año 2005?

In [8]:
frame= [movies, rating]
df= pd.merge(movies,rating, on='movieId')
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [10]:
df['timestamp']= pd.to_datetime(df['timestamp'], unit= 's')
df['timestamp']

0        2000-07-30 18:45:03
1        1996-11-08 06:36:02
2        2005-01-25 06:52:26
3        2017-11-13 12:59:30
4        2011-05-18 05:28:03
                 ...
100831   2018-09-16 14:44:42
100832   2018-09-16 14:52:25
100833   2018-09-16 14:56:45
100834   2018-09-16 15:00:21
100835   2018-09-17 04:13:26
Name: timestamp, Length: 100836, dtype: datetime64[ns]

In [15]:
rank_2005=  df.loc[(df['timestamp'] >= '2005-01-01') & (df['timestamp'] <= '2005-12-31')]
rank_2005.sort_values(by='rating')

,movieId,title,genres,userId,rating,timestamp
75347,7649,Babylon 5: In the Beginning (1998),Adventure|Sci-Fi,287,0.5,2005-03-07 21:30:45
43640,2422,"Karate Kid, Part III, The (1989)",Action|Adventure|Children|Drama,287,0.5,2005-03-07 21:15:20
11078,374,Richie Rich (1994),Children|Comedy,608,0.5,2005-05-31 02:07:15
73628,7117,Leprechaun (1993),Comedy|Horror,287,0.5,2005-03-07 21:31:10
73626,7116,Diabolique (Les diaboliques) (1955),Horror|Mystery|Thriller,594,0.5,2005-02-21 01:51:05
...,...,...,...,...,...,...
47825,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,488,5.0,2005-04-01 19:01:08
76503,8636,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,91,5.0,2005-04-05 14:54:45
47752,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,286,5.0,2005-06-23 21:43:41
8917,318,"Shawshank Redemption, The (1994)",Crime|Drama,502,5.0,2005-03-25 13:30:39
9655,345,"Adventures of Priscilla, Queen of the Desert, ...",Comedy|Drama,250,5.0,2005-07-13 01:18:08

In [16]:
#promedio
df.groupby('genres')['rating'].mean() #promedio de cada genero en su rating

genres
(no genres listed)                     3.489362
Action                                 2.935484
Action|Adventure                       3.706306
Action|Adventure|Animation             3.583333
Action|Adventure|Animation|Children    3.410256
                                         ...
Sci-Fi|Thriller                        3.280172
Sci-Fi|Thriller|IMAX                   3.708333
Thriller                               3.426752
War                                    3.555556
Western                                3.658940
Name: rating, Length: 951, dtype: float64

¿Cuál es el top 5 de películas mejor rankeadas en promedio?

In [14]:
rating_average = df.groupby('title')['rating'].mean()
print(rating_average.sort_values(ascending=False).head(5))

title
Gena the Crocodile (1969)              5.0
True Stories (1986)                    5.0
Cosmic Scrat-tastrophe (2015)          5.0
Love and Pigeons (1985)                5.0
Red Sorghum (Hong gao liang) (1987)    5.0
Name: rating, dtype: float64

¿Cuál es el género con más reviews?

In [17]:
reviews = df.groupby('genres')['rating'].count()
print(f'El géro con más reviews fue {reviews.sort_values(ascending=False).head(1)}')

El géro con más reviews fue genres
Comedy    7196
Name: rating, dtype: int64

¿Cuáles es el género por año con mejor rating entre el año 2000 y 2010?

In [18]:
rating = df[(df['timestamp'].dt.year >= 2000) & (df['timestamp'].dt.year <= 2010)]

best_rating = rating.groupby(['genres', rating['timestamp'].dt.year])['rating'].mean()

gener_year = best_rating.groupby(level=1).idxmax().str[0]

gener_year

timestamp
2000                Animation|Comedy|Drama|Fantasy
2001                          Action|Drama|Western
2002      Action|Adventure|Animation|Horror|Sci-Fi
2003      Action|Adventure|Animation|Drama|Fantasy
2004     Adventure|Children|Comedy|Fantasy|Musical
2005                    Adventure|Animation|Comedy
2006                    Action|Romance|War|Western
2007    Adventure|Animation|Children|Comedy|Sci-Fi
2008    Adventure|Animation|Children|Comedy|Sci-Fi
2009     Action|Adventure|Mystery|Romance|Thriller
2010                         Action|Comedy|Musical
Name: rating, dtype: object

¿Cuál es el usuario con más críticas y cuál es su género favorito?

In [30]:
user_id = df.groupby('userId')['rating'].count().sort_values(ascending=False).head(1)

genero_favorito = df[df['userId'] == df['userId'].value_counts().idxmax()]['genres'].values[0]

print(f'El usuario con mas criticas fue el  \n {user_id} y su genero favortiro es {genero_favorito}')

El usuario con mas criticas fue el
 userId
414    2698
Name: rating, dtype: int64 y su genero favortiro es Adventure|Animation|Children|Comedy|Fantasy

¿Cúales fueron las películas con peores ratings?

In [33]:
worst_average = df.groupby('title')['rating'].mean()
print(worst_average.sort_values(ascending=True).head(5))

title
Rust and Bone (De rouille et d'os) (2012)     0.5
The Emoji Movie (2017)                        0.5
The Butterfly Effect 3: Revelations (2009)    0.5
Follow Me, Boys! (1966)                       0.5
The Beast of Hollow Mountain (1956)           0.5
Name: rating, dtype: float64

¿Cuál es la peor combinación de género en ratings?

In [35]:
worst_combination = df.groupby('genres')['rating'].mean()
print(worst_combination.sort_values(ascending=True).head(5))

genres
Adventure|Children|Comedy|Sci-Fi       0.5
Crime|Horror|Sci-Fi                    0.5
Animation|Children|Comedy|Drama        0.5
Children|Horror|Sci-Fi                 0.5
Action|Adventure|Comedy|Sci-Fi|IMAX    0.5
Name: rating, dtype: float64