In [17]:
import pandas as pd

In [26]:
movies= pd.read_csv('../data/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [25]:
rating= pd.read_csv('../data/ratings.csv')
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [35]:
for i in movies.columns:
    print(f'Valores unicos de {i}:{movies[i].unique}')

Valores unicos de movieId:<bound method Series.unique of 0            1
1            2
2            3
3            4
4            5
         ...
9737    193581
9738    193583
9739    193585
9740    193587
9741    193609
Name: movieId, Length: 9742, dtype: int64>
Valores unicos de title:<bound method Series.unique of 0                                Toy Story (1995)
1                                  Jumanji (1995)
2                         Grumpier Old Men (1995)
3                        Waiting to Exhale (1995)
4              Father of the Bride Part II (1995)
                          ...
9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
9741          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object>
Valores unicos de genres:<bound method Series.unique of 0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
                           ...
9737                Action|Animation|Comedy|Fantasy
9738                       Animation|Comedy|Fantasy
9739                                          Drama
9740                               Action|Animation
9741                                         Comedy
Name: genres, Length: 9742, dtype: object>

In [36]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [37]:
rating.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

¿Cuáles fueron los géneros mejor rankeados en promedio en el año 2005?

In [43]:
frame= [movies, rating]
df= pd.merge(movies,rating, on='movieId')
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [46]:
df['timestamp']= pd.to_datetime(df['timestamp'], unit= 's')
df['timestamp']

0        2000-07-30 18:45:03
1        1996-11-08 06:36:02
2        2005-01-25 06:52:26
3        2017-11-13 12:59:30
4        2011-05-18 05:28:03
                 ...
100831   2018-09-16 14:44:42
100832   2018-09-16 14:52:25
100833   2018-09-16 14:56:45
100834   2018-09-16 15:00:21
100835   2018-09-17 04:13:26
Name: timestamp, Length: 100836, dtype: datetime64[ns]

In [58]:
rank_2005=  df.loc[(df['timestamp'] >= '2005-01-01') & (df['timestamp'] <= '2005-12-31')]
rank_2005.sort_values(by='rating')

df.groupby('genres')['rating'].mean() #promedio de cada genero en su rating

genres
(no genres listed)                     3.489362
Action                                 2.935484
Action|Adventure                       3.706306
Action|Adventure|Animation             3.583333
Action|Adventure|Animation|Children    3.410256
                                         ...
Sci-Fi|Thriller                        3.280172
Sci-Fi|Thriller|IMAX                   3.708333
Thriller                               3.426752
War                                    3.555556
Western                                3.658940
Name: rating, Length: 951, dtype: float64